[submodule "spec/mustache"]
	path = spec/mustache
	url = git://github.com/jbboehr/mustache-spec.git
[submodule "spec/handlebars"]
	path = spec/handlebars
	url = git://github.com/jbboehr/handlebars-spec.git
